body {
    font-family: monospace;
}

.left {
    color: #666;
}

.left, .right {
    width: 44%;
    margin: 20px 3%;
    display: inline-block;
    vertical-align: text-top;
}

.removed {
    background-color: #ffecec
}
.inserted {
    background-color: #eaffea
}
