body {
    font-family: monospace;
}

.diff-before, .diff-after {
    width: 44%;
    margin: 20px 3%;
    display: inline-block;
    vertical-align: text-top;
}

.diff-delete {
    background-color: #ffecec
}
.diff-equal {
    background-color: #ffffee
}
.diff-insert {
    background-color: #eaffea
}
